## 1. Check if a given string is a palindrome.

In [1]:

str=input("enter a string:")
if str==str[::-1]:
    print("string is palindrome")
else:
    print("string is not palindrome")

enter a string: nitin

string is palindrome

## 2. Count the number of vowels in a string and store the result in a dictionary.

In [32]:
def count_vowels(word):
    """This Function count the vowel in the word."""
    word = word.lower()
    a = e = i = o = u = 0
    for ch in word:
        if ch == "a":
            a += 1
        elif ch == "e":
            e += 1
        elif ch == "i":
            i += 1
        elif ch == "o":
            o += 1
        elif ch == "u":
            u += 1
            
    return {"a": a, "e": e, "i": i, "o": o, "u": u}

In [40]:
count_vowels("sakshi")

{'a': 1, 'e': 0, 'i': 1, 'o': 0, 'u': 0}

In [41]:


count_vowels(" hi my name is sakshi")

{'a': 2, 'e': 1, 'i': 3, 'o': 0, 'u': 0}

In [35]:
s = "education"
vowels = "aeiou"
count = {v:s.count(v) for v in vowels}
for v in vowels:
    print(count)

{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}

## 3. Convert the first letter of each word in a string to uppercase (title case manually).

In [2]:
str=input("enter a string:")
print(str.title())

enter a string: hello world

Hello World

## 4. Find the most frequently occurring character in a string.

In [3]:
str= "hello world"
print(str.count('l'))

3

## 5. Count digits, alphabets, and special characters separately in a string.

In [38]:
w = input("Enter a string:")
digit = 0
alphabet = 0
special = 0

for ch in w:
    if ch.isalpha():
        alphabet += 1
    elif ch.isdigit():
        digit += 1
    else:
        special += 1   
print("alphabet",alphabet,"digit",digit,"special",special)

Enter a string: hello@world!12

alphabet 10 digit 2 special 2

## 6. Remove duplicate elements from a list without using set()

In [4]:
fruits=["apple","banana","apple"]
fruits.remove("apple")
print(fruits)

['banana', 'apple']

## 7.Reverse a list without using built-in functions.

In [42]:
list = [0,9,8,7,6,5,4,3,2,1]
list = list[::-1]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

## 8. Find the 2nd largest and 2nd smallest element in a list.

In [43]:
numbers = [55,21,98,400,12456,34,1,20]
n = sorted(numbers)
second_smallest = n[1]
second_largest = n[-2]

print("2nd smallest:",second_smallest,"2nd largest:",second_largest)
print(n)

2nd smallest: 20 2nd largest: 400
[1, 20, 21, 34, 55, 98, 400, 12456]

## 9. Store the square of each element of a list into a new list (using list comprehension).

In [44]:
l1 = [1,2,3,4,5,6,7,8,9,10]
[i**2 for i in l1]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 10. Flatten a nested list into a single list.

In [45]:
nested = [[1,2],[3,4],[5,6]] # 1st way 
[x for sub in nested for x in sub]

[1, 2, 3, 4, 5, 6]

In [46]:
l1 = [[1,2],[3,4],[5,6]] # 2nd way
list = []
for i in l1:
    for j in i:
        list.append(j)
print(list)

[1, 2, 3, 4, 5, 6]

## 11. Reverse a tuple without using [::-1].

In [5]:
fruits=["apple","banana","grapes"]
fruits.reverse()
print(fruits)

['grapes', 'banana', 'apple']

## 12. Extract unique elements from a tuple and store them in a new list.

In [47]:
tuple = (1,"hii",True,2,4,False,[9,8,7,6],2,1,4,6,6,7)
unique = []
for i in tuple:
    if i not in unique:
        unique.append(i)
print(unique)

[1, 'hii', 2, 4, False, [9, 8, 7, 6], 6, 7]

## 13. Concatenate two tuples and sort them.

In [6]:
t1=(1,2,6,7)
t2=(4,5,3,8)
print(t1+t2)
t=(1,2,6,7,4,5,3,8)
print(sorted(t))

(1, 2, 6, 7, 4, 5, 3, 8)
[1, 2, 3, 4, 5, 6, 7, 8]

## 14. Count the frequency of an element in a tuple without using count().

In [50]:
a1 = (3,6,5,9,5,3,6,7,6,5,2,7,8,9,4,5,7,2,1,4) # 1st way
element = int(input("Enter the element:"))
count = 0
for i in a1:
    if i == element:
        count += 1
print("element",element,"--","count",count)

Enter the element: 5

element 5 -- count 4

In [51]:
t = (3,6,5,9,5,3,6,7,6,5,2,7,8,9,4,5,7,2,1,4)  # 2nd way
element = int(input("Enter the element:"))
count = sum(1 for x in t if x == element)
print("Count", count)

Enter the element: 4

Count 2

## 15. From a tuple of numbers, create two tuples: one with even numbers and one with odd numbers

In [19]:
n = (1,2,3,4,5,6,7,8,9,0)
even = []
odd = []
for i in n:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
even = tuple(even)
odd = tuple(odd)
print("even",even)
print("odd",odd)

even (2, 4, 6, 8, 0)
odd (1, 3, 5, 7, 9)

In [20]:
t = (1,2,3,4,5,6,7,8,9,0)
even = tuple(i for i in t if i % 2 == 0)
odd = tuple(i for i in t if i % 2 != 0)
print("Even",even)
print("Odd",odd)

Even (2, 4, 6, 8, 0)
Odd (1, 3, 5, 7, 9)

## 16. Perform union, intersection, and difference of two sets without using built-in operators.

In [55]:
s1={1,2,3}
s2={4,5,6}
print(s1|s2)
print(s1&s2)
print(s1-s2)

{1, 2, 3, 4, 5, 6}
set()
{1, 2, 3}

In [56]:
# Union
A = {1,2,3}
B = {4,5,6}
set = A|B
print("Union:", set)

Union: {1, 2, 3, 4, 5, 6}

In [57]:
# Intersection
A = {1,2,3,4}
B = {3,4,5,6}
intersection_set = A & B
print("Intersection:",intersection_set)

Intersection: {3, 4}

In [58]:
# difference
A = {1,2,3,4}
B = {3,4,5,6}
diff1 = A - B
diff2 = B - A
print("A - B:",diff1)
print("B - A:",diff2)

A - B: {1, 2}
B - A: {5, 6}

## 17. Remove a random element from a set (without using pop()).

In [7]:
s={1,2,3,4}
s.remove(1)
print(s)

{2, 3, 4}

## 18. Convert a list into a set and check if duplicates are removed.

In [1]:
l1 = [2,2,4,4,5,5,6,6,6,7,7,7,]
s1 = set(l1)
print(s1)

{2, 4, 5, 6, 7}

## 19. Check if two sets are disjoint.

In [63]:
s1={1,2,3}
s2={4,5,6}
s1.isdisjoint(s2)

True

## 20. Find the sum of all elements in a set.

In [8]:
s={1,2,3,4}
total=sum(s)
print("sum of the element:",total)

sum of the element: 10

## 21. Create a dictionary and print keys in ascending order.

In [64]:
my_dict = {"c": 3, "a": 1, "b": 2}             # 1st way

print("Original Dictionary:", my_dict)
print("Keys in ascending order:", sorted(my_dict.keys()))

Original Dictionary: {'c': 3, 'a': 1, 'b': 2}
Keys in ascending order: ['a', 'b', 'c']

In [65]:
dict = {"c": 3, "a": 1, "b": 2}      # 2nd way 
s=sorted(dict.keys())
print(s)

['a', 'b', 'c']

## 22. Add a new key to a dictionary with value equal to the sum of existing values.

In [67]:
d={"x":10, "y":20}
d_total=sum(d.values())
print(d_total)

30

## 23. Merge two dictionaries into one.

In [69]:

d1,d2 = {"a":1},{"b":2}
merged = {**d1, **d2}
print(merged)

{'a': 1, 'b': 2}

## 24. Find the key with the largest value in a dictionary.

In [70]:
d={"a":10, "b":25, "c":5}
print(max(d, key=d.get))

b

## 25. Store the frequency of characters of a string in a dictionary.

In [2]:
s = "chocolate"
freq = {ch: s.count(ch) for ch in set(s)}
print(freq)

{'h': 1, 'a': 1, 't': 1, 'e': 1, 'c': 2, 'l': 1, 'o': 2}

## 26. Take age as input and check if the person is eligible to vote or not.

In [14]:
age = int(input("enter your age: "))

if age>=18:
  print("eligible to vote")
else:
  print("not eligible to vote")

enter your age:  20

eligible to vote

## 27. Find the largest among three numbers (using nested if).

In [81]:
n1=int(input("enter a 1 number:"))
n2=int(input("enter a 2 number:"))
n3=int(input("enter a 3 number:"))

if n1>n2:
    if n1>n3:
        print("n1 is largest")
elif n2>n3:
    print("n2 is largest")
else:
    print("n3 is largest")

enter a 1 number: 45
enter a 2 number: 55
enter a 3 number: 65

n3 is largest

In [76]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b:
    if a >= c:
        print("Largest number is:", a)
    else:
        print("Largest number is:", c)
else:
    if b >= c:
        print("Largest number is:", b)
    else:
        print("Largest number is:", c)

Enter first number:  55
Enter second number:  85
Enter third number:  45

Largest number is: 85

## 28. Check if a given number is prime or not.

In [77]:
n = int(input("enter a number "))
if n <= 1:
    print("Not a prime number")
elif n==2  or n==3:
    print("It is a prime number")
else:
    for i in range(2,n):  # its check that if n is divisible by any number between 2 and n-1 if yes then its not a prime number,
        if n % i == 0 :
            print("Not a prime number")
            break
    else:
        print("It is a prime number")

enter a number  37

It is a prime number

## 29. Assign grade (A, B, C, Fail) based on marks input.

In [79]:
def assign_grade():
    marks = int(input("Enter your marks: "))
    if marks >= 90:
        print("Grade: A")
    elif marks >= 75:
        print("Grade: B")
    elif marks >= 50:
        print("Grade: C")
    else:
        print("Grade: Fail")

In [80]:
assign_grade()

Enter your marks:  75

Grade: B

## 30. Check if a number is positive, negative, or zero.

In [15]:
num=int(input("enter number:"))
if num>0:
   print("it is positive")
elif num<0:
    print("it is negative")

else:
    print("it is zero")

enter number: 77

it is positive

# 31. Print the first 10 numbers of the Fibonacci series using for loop.

In [82]:
a,b = 0,1
for _ in range(10):
    print(a,end= " ")
    a, b = b, a+b

0 1 1 2 3 5 8 13 21 34

## 32. Find the factorial of a number using while loop.

In [83]:
n= 5
fact = 1
while n > 0:
    fact *= n
    n -= 1
print("\nFactorial:",fact)

Factorial: 120

## 33. Input a number and find the sum of its digits using while loop.

In [84]:
n = 1234
s = 0
while n > 0:
    s += n % 10
    n //= 10
print("sum of didgit:",s)

sum of didgit: 10

## 34. Print all elements of a list in reverse order without using reverse().

In [85]:
z1 = [5,10,15,20,25,30,35,40,45,50]
my_list = z1[::-1]
print(my_list)

[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

## 35. Print a star pattern (triangle) using nested loops

In [86]:
num = int(input("Enter the num:"))
for i in range(num):
    for j in range(i + 1):
        print("*",end = " ")
    print()

Enter the num: 5

*
* *
* * *
* * * *
* * * * *

## 36. Write some text into a file and then read and print it.

In [24]:
with open("test.txt","w") as f:
    f.write("hello python")
with open("test.txt","r") as f:
    print(f.read())

hello python

## 37. Count the total number of lines in a file.

In [25]:

with open("test.txt", "r") as f:
    print("lines:",len(f.readlines()))

lines: 1

## 38. Count vowels and consonants in a file.

In [4]:
f = open("test.txt", "r")
text = f.read().lower()
f.close()

vowels = 0
consonants = 0

for ch in text:
    if ch.isalpha():
        if ch in "aeiou":
            vowels += 1
        else:
            consonants += 1

print("Vowels:", vowels)
print("Consonants:", consonants)

Vowels: 3
Consonants: 8

## 39. Convert the content of a file into uppercase and store it in another file.

In [8]:
with open("test.txt") as f:
    data = f.read().upper()
with open("upper.txt", "w") as f:
    f.write(data)
    f.close()

In [9]:
f = open("upper.txt", "r") 
f.read()

'HELLO PYTHON'

## 40. Read a CSV file and print its rows.

In [10]:
import csv
with open("test.txt", newline="") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['hello python']

In [15]:
import os

## 41. Print the current working directory using os module.

In [16]:
print(os.getcwd())

C:\Users\Pragati Khode

## 42. Create a new folder using os module and create a file inside it.

In [98]:
os.mkdir("ABCD")
f = open("ABCD/newfile.txt","w")
f.write("my file is inside ABCD")
f.close()
print("Succesfully create the folder and file")

Succesfully create the folder and file

## 43. List all files and folders inside a directory.

In [17]:
os.listdir()

['.anaconda',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.vscode',
 'ABCD',
 'anaconda3',
 'AppData',
 'Application Data',
 'assignment practice question.ipynb',
 'assignment.ipynb',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'example.txt',
 'Favorites',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'NetHood',
 'New folder',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{a4b1c95e-867a-11f0-84d8-e50353329c4f}.TM.blf',
 'NTUSER.DAT{a4b1c95e-867a-11f0-84d8-e50353329c4f}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{a4b1c95e-867a-11f0-84d8-e50353329c4f}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'python dsaa',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'test.txt',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'upper.txt',
 'Videos']

## 44. Check the size of a file using os module.

In [18]:
filename = "test.txt"
size = os.path.getsize(filename)
print(f"File size of {filename} is: {size} bytes")

File size of test.txt is: 12 bytes

## 45. Count all .txt files in a directory.

In [102]:
files = os.listdir()
count = 0

for f in files:
    if f.endswith(".txt"):
        count += 1
result = {".txt files:", count}

print(result)

{1, '.txt files:'}

## 46. Write a program that takes user input and prints its square. Handle errors if input is invalid.

In [1]:
try:
    num = int(input("Enter a number: "))
    print("Square is:", num**2)
except ValueError: 
    print("Invalid input! Please enter a number.")

Enter a number:  4

Square is: 16

## 47. Handle ZeroDivisionError with an example program.

In [2]:
try:
    a = int(input("Enter numerator: "))
    b = int(input("Enter denominator: "))
    result = a / b
    print("Result:", result)
except ZeroDivisionError:
    print("Error! Cannot divide by zero.")

Enter numerator:  9
Enter denominator:  5

Result: 1.8

## 48. Handle FileNotFoundError with an example program.

In [3]:
try:
    f = open("sample.txt", "r")   
    print(f.read())
    f.close()
except FileNotFoundError:
    print("File not found!")

File not found!

## 49. Handle both ValueError and TypeError with an example.

In [6]:
try:
    num = int(input("Enter a number: "))   
    result = num + "5"                      
    print(result)
    
except ValueError:
    print("ValueError: Please enter numbers only!")
except TypeError:
    print("TypeError: Cannot add number and string together!")

Enter a number:  77

TypeError: Cannot add number and string together!

## 50. Write a program with finally block that opens and closes a file

In [7]:
try:
    file = open("example.txt", "w")
    file.write("Hello, Python!")
    print("File written successfully.")

except Exception as e:
    print("An error occurred:", e)

finally:
    file.close()
    print("File closed successfully.")

File written successfully.
File closed successfully.