# 1.	User-Defined Function (5 Questions)

## 1.	Write a function to calculate the factorial of a number (without recursion).

In [1]:
def factorial(n):
    fact =1
    for i in range(1,n+1):
        fact*=i
    print(fact)

In [2]:
factorial(5)

120

## 2.	Write a function to check if a number is Armstrong or not.

In [7]:
def armstrong(num):
    digit = str(num)
    power = len(digit)
    total = sum(int(i)**power for i in digit)
    return num==total


n=int(input("Enter a number"))
if armstrong(n):
    print(f"{n} is an Armstrong number.")
else:
    print(f"{n} is NOT an Armstrong number.")

Enter a number 153

153 is an Armstrong number.

## 3.	Write a function that takes a list of numbers and returns only even numbers.

In [10]:
def even_list():
    even = list(map(int,input("Enter a number with having space after each number :").split()))
    for i in even:
        if i%2==0:
            print(i)

In [12]:
 even_list()

Enter a number with having space after each number : 5 2 1 2 2 1 2 3

2
2
2
2

## 4.	Write a function that takes a string and returns the reverse of the string

In [16]:
strvar="data science"
rev=strvar[::-1]
print(rev)

ecneics atad

## 5.	Write a recursive function to calculate Fibonacci series up to n terms.

In [14]:
def fibonacci(n):
    a=0
    b=1
    for i in range(n):
        print(b, end = " ")
        a,b =b,a+b

In [15]:
fibonacci(10)

1 1 2 3 5 8 13 21 34 55

## 2.	Lambda Function (5 Questions)

## 6.	Write a lambda function to find the maximum of two numbers.

In [1]:
max=lambda x,y:x if x>y else b
print(max(5,3))

5

## 7.	Write a lambda function to count vowels in a given string.

In [17]:
vowls = "aeiou"


k =lambda x :sum(1 for i in x if i in vowls)
print(k("programming"))

3

## 8.	Use a lambda with map() to convert a list of integers into their cubes.

In [5]:
int=[1,2,3,4,5]
result=map(lambda x:x**x, int)
print(list(result))

[1, 4, 27, 256, 3125]

## 9.	Use a lambda with filter() to find numbers divisible by 5 from a list.

In [3]:
numbers=[10,16,20,26,35,43,50]
div_5= list(filter(lambda x:x%5==0,numbers))
print(div_5)

[10, 20, 35, 50]

## 10.	Use reduce() with lambda to find the product of all numbers in a list.

In [14]:
from functools import reduce
numbers = [2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(f"Numbers: {numbers}")
print(f"Product: {product}")

Numbers: [2, 3, 4, 5]
Product: 120

# 3. List Comprehension (5 Questions)

# 11.	Create a list of squares of numbers from 1 to 20 using list comprehension

In [17]:
l=[1,20]
l1=[i**2 for i in range(20)]
print(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

## 12.	Extract all words starting with vowel from a list of words.

In [18]:
stri = input("Enter your string : ").lower()
count = []
vowels = "aeiou"

k = [ count.append(i) for i in stri if i in vowels]
print(count)

Enter your string :  programming

['o', 'a', 'i']

## 13.	Generate a list of tuples (x, x^2) for numbers from 1 to 10.

In [36]:
l1=[1,11]
list=[(x, x**2) for x in range(1,11)]
print(list)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

# 14.Flatten a 2D list using list comprehension.

In [20]:
nested = [[1,2],[3,4],[5,6]]
list=[x for i in nested for x in i]
print(list)

[1, 2, 3, 4, 5, 6]

## 15.	Create a list of prime numbers between 1 and 50 using list comprehension

In [20]:
lis=[i for i in range(50) if i %2==1]
print(lis)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

# 4. Class (5 Questions)

## 16.	Create a class Student with attributes name and marks, and a method to display details.

In [24]:
 class student:
     def __init__(self,name,marks):
         self.name=name
         self.marks=marks
 obj=student("siri",25)

In [25]:
obj.name

'siri'

In [26]:
obj.marks

25

## 17.	Create a class BankAccount with deposit and withdraw methods

In [28]:
class BankAccount:
    def __init__(self, account_holder, balance):
        self.account_holder = account_holder
        self.__balance = balance  # Private attribute

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            return f"Deposited {amount}. New balance: {self.__balance}"
        return "Invalid deposit amount"

    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount
            return f"Withdrew {amount}. New balance: {self.__balance}"
        return "Invalid withdrawal amount"

    def get_balance(self):
        return self.__balance


    account = BankAccount("Alice", 1000)
    print(account.deposit(500))  # Deposited 500. New balance: 1500
    print(account.withdraw(200))  # Withdrew 200. New balance: 1300
    print(account.get_balance())  # 1300
    # print(account.__balance)

Deposited 500. New balance: 1500
Withdrew 200. New balance: 1300
1300

## 18.	Create a class Circle with a method to calculate area and circumference.

In [21]:
pi=3.14
class Circle:
    def __init__(self,radius):
        self.radius=radius
    def area(self):
        return pi*(self.radius**2)
    def cricumference(self):
        return 2 *pi *self.radius

In [22]:
obj = Circle(5)

In [23]:
obj.area()

78.5

In [26]:
obj.cricumference()

31.400000000000002

## 19.	Create a class Employee that increases salary by 10%.

In [30]:
class Employee:
    def __init__(self,salary):
        self.salary=salary
    def increase_salary(self):
        return self.salary * 1.10

In [31]:
onj = Employee(90000)

In [32]:
onj.increase_salary()

99000.00000000001

## 20.	Create a class Car with methods to start, stop, and display status.

In [7]:
class Car:
    def __init__(self,start,stop):
        self.start=start
        self.stop=stop

In [8]:
car = Car("Car is start","Car is stop")

In [9]:
car.start

'Car is start'

In [ ]:
car.stop

# 5. Inheritance (5 Questions)

## 21.	Create a base class Animal and a derived class Dog that overrides a method

In [32]:

class Animal:
    def make_sound(self):
        pass   #  This is a placeholder; subclasses will override it
class Dog(Animal):
    def make_sound(self):
        return "Woof!"

In [35]:
o1=Dog()

In [37]:
animals=[o1]
animals

for animal in animals:
    print(animal.make_sound())

Woof!

## 22.	Create a base class Shape with method area(). Inherit Rectangle and Circle classes to implement area calculation.

In [1]:
class shape:
    def area(self):
        pass

class rectangle(shape):
    def area(self,length,width):
        self.length=length
        self.width=width
        return self.length*self.width
        print("area of rectangle is : -",area)

class circle(shape):
    def area(self,radius):
        self.radius=radius
        import math as mt
        return mt.pi*self.radius**2
        print("area of circle is : -",area)


obj_shape=shape()

obj2=circle()
obj3=rectangle()
obj3.area(10,7)

70

In [2]:
obj2.area(5)

78.53981633974483

## 23.	Create a Person class and inherit Student and Teacher from it with additional attributes.

In [49]:
class Person:
    def __init__(self,name,age):
        self.name =name
        self.age=age
    def show_detail(self):
        return f"Name is {self.name} and age is {self.age}"

class Student(Person):
    def __init__(self,name,age,student_id,grade):
        super().__init__(name,age)
        self.student_id=student_id
        self.grade=grade
    def show_detail(self):
        return f" Student = { super().show_detail() } , student id ={self.student_id} and grade is {self.grade}     "

class Teacher(Person):
    def __init__(self,name,age,experience,salary):
        super().__init__(name,age)
        self.experience =experience
        self.salary=salary
    def show_detail(self):
        return f"Teacher = {super().show_detail()} and its have Experience of {self.experience} and is expected salary is {self.salary}      "

In [50]:
obj =Person("Rohit" , 16)

In [51]:
s1 = Student("Rahul", 16, "S101", "10th Grade")
t1 = Teacher("Mr. Sharma", 50,5,89000)

In [52]:
s1.show_detail()

' Student = Name is Rahul and age is 16 , student id =S101 and grade is 10th Grade     '

In [53]:
t1.show_detail()

'Teacher = Name is Mr. Sharma and age is 50 and its have Experience of 5 and is expected salary is 89000      '

## 24.	Create a Vehicle class and inherit Car and Bike with their specific features.

In [55]:
class Vehicle:
    def __init__(self,brand, model):
        self.brand = brand
        self.model = model
    def feature(self):
        return f"This is a brand of {self.brand} , This is model of your vehicel {self.model}"


class Car(Vehicle):
    def __init__(self,brand, model,fuel_type):
        super().__init__(brand,model)
        self.fuel_type=fuel_type
    def feature(self):
        return f"Car -> {super().feature()}, Fuel type: {self.fuel_type}"


class Bike(Vehicle):
    def __init__(self,brand,model,cc):
        super().__init__(brand,model)
        self.cc=cc
    def feature(self):

        return f"Bike -> {super().feature()},CC:{self.cc}"

In [56]:
s1=Car("BMW","M4","Petrol")
s2=Bike("TVS","XL-100","10000cc")

In [57]:
s1.feature()

'Car -> This is a brand of BMW , This is model of your vehicel M4, Fuel type: Petrol'

In [58]:
s1.brand

'BMW'

In [64]:
s2.brand

'TVS'

In [65]:
s2.model

'XL-100'

## 25.	Demonstrate multiple inheritance with a StudentAthlete class (inheriting from Student and Athlete).

In [72]:
class Student:
    def student_info(self):
        dic ={"name":"Raj","Section":"A"}
        print(dic)
class Athlete(Student): #child class
    def student_athlete(self,):
        return f"Student is also Athlete"

class StudentAthlete(Athlete):#child class
    pass

In [76]:
obj = StudentAthlete()

In [77]:
obj.student_info()

{'name': 'Raj', 'Section': 'A'}

In [79]:
obj.student_athlete()

'Student is also Athlete'

# 6. Polymorphism (5 Questions)

## 26.	Create two classes Cat and Dog with the same method speak(). Demonstrate polymorphism.

In [10]:
class animal:
    def make_speak(self):
        pass


class Cat(animal):
    def make_speak(self):
        return "Meow!"


class Dog(animal):
    def make_speak(self):
        return "Bark!"

c = Cat()
d = Dog()

animal=[c,d]


for animals in animal:
    print(animals.make_speak())

Meow!
Bark!

## 27.	Demonstrate operator overloading by implementing addition of two Vector objects.

In [5]:
class Vector:
    def __init(self,x,y):
        self.x=x
        self.y=y
    def _add_(self,other):
        return Vector(self.x + other.x, self.y+ other.y)

class Vector:
    def __init__(self,x,y):
        self.x = x
        self.y = y

    def __add__(self,other) :
        return Vector(self.x + other.x, self.y + other.y)

    def __str__(self):
        return f"({self.x}, {self.y})"

v1 = Vector(2, 3)
v2 = Vector(4, 5)

v3=v1+v2

print("Vector 1:", v1)
print("Vector 2:", v2)
print("Added Vector:", v3)

Vector 1: (2, 3)
Vector 2: (4, 5)
Added Vector: (6, 8)

## 28.	Demonstrate method overloading using default parameters.

In [83]:
class Overloading:
    def add(self,x=0,y=0,z=0):
        return x*y*z


Cal = Overloading()
Cal.add(4,)

0

## 29.	Create a base class Shape with draw() method and override it in derived classes.

In [84]:
class Shape:
    def draw(self):
        return "Shape is drawing"

class Circle(Shape):
    def draw(self):
        return "Circle is drawing"

class Rectangle(Shape):
    def draw(self):
        return "Rectangle is drawing"


shapes = [Rectangle(), Circle()]

for s in shapes:
    print(s.draw())

Rectangle is drawing
Circle is drawing

## 30.	Demonstrate duck typing with classes having the same method name.

In [42]:
class ineuron4:
    def students(self):
        print("print a students details ")

class class_type :
    def student(self):
        print("print the class type of students")

def ineuron_external(a,b):
    a.students()
    b.student()

ineuron_external(ineuron4(),class_type())

print a students details
print the class type of students

# 7. Encapsulation (5 Questions)

## 31.	Create a class Account with private balance attribute and provide methods to deposit and withdraw.

In [43]:
class BankAccount:
    def __init__(self, account_holder, balance):
        self.account_holder = account_holder
        self.__balance = balance  # Private attribute

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            return f"Deposited {amount}. New balance: {self.__balance}"
        return "Invalid deposit amount"

    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount
            return f"Withdrew {amount}. New balance: {self.__balance}"
        return "Invalid withdrawal amount"


account = BankAccount("Alice", 1000)
print(account.deposit(500))  # Deposited 500. New balance: 1500
print(account.withdraw(200))

Deposited 500. New balance: 1500
Withdrew 200. New balance: 1300

## 32.	Create a class with private attributes and use getter and setter methods to access them.

In [6]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.__age = age  #private attribute

    def get_age(self):
        return self.__age

    def set_age(self,new_age):
        if new_age >=0:
            self.__age = new_age
        else:
            print("Age cannot be negative")

gs=Person("sakshi",20)
gs.set_age(21)
gs.get_age()

21

## 33.	Demonstrate name mangling with private variables.

In [86]:
class PrivateName:
    def __init__(self,name):
        self.__name=name
        
obj = PrivateName("siri")
print(obj._PrivateName__name)

siri

## 34.	Create a class Bank with encapsulated methods to show account details securely.

In [87]:
class Bank:
    def __init__(self,account_number, name, balance, pin):
        self.__account_number = account_number
        self.__name = name 
        self.__balance = balance
        self.__pin=pin


    def deposite(self,amount):
        if amount>0:
            self.__balance+=amount
            return f"Deposited {amount}. New balance: {self.__balance}"
        return "Invalid deposit amount"


    def Withdrawal(self,amount,pin):
        if pin!=self.__pin:
            return "Incoorect Pin"
        if 0 < amount <= self.__balance:
            self.__balance -= amount
            return f"Withdrew {amount}. New balance: {self.__balance}"
        return "Invalid withdrawal amount"



    def show_detail(self,pin):
        if pin==self.__pin:
            return f"Account Number: {self.__account_number}  Name: {self.__name}    Balance: {self.__balance}"
        else:
            return "Access denied! Incorrect PIN."

In [88]:
my_account = Bank(1268895647 , "Pritesh ingle" , 60000,1234)

In [89]:
my_account.deposite(700)

'Deposited 700. New balance: 60700'

In [90]:
my_account.Withdrawal(60000,1234)

'Withdrew 60000. New balance: 700'

In [91]:
my_account.show_detail(1234)

'Account Number: 1268895647  Name: Pritesh ingle    Balance: 700'

## 35.	Demonstrate encapsulation by restricting access to class attributes.

In [94]:
class Employee:
    def __init__(self, salary):
        self.__salary = salary 


    def get_salary(self):
        return self.__salary

    
    def set_salary(self, salary):
        if salary > 0:
            self.__salary = salary
        else:
            print("Invalid salary!")


emp = Employee(50000)
emp.get_salary()   

emp.set_salary(60000)
emp.get_salary() 

emp.set_salary(-1000)

Invalid salary!

## 8. Datetime Module (5 Questions)

## 36.	Write a program to display the current date and time.

In [44]:
from datetime import datetime
now=datetime.now()
print("now", now)

now 2025-09-17 09:41:56.239423

## 37.	Write a program to calculate a person’s age from their date of birth

In [23]:
import datetime
dob=datetime.date(2002,11,5)
today = datetime.date.today()
age=today.year-dob.year
print(f"Date of Birth: {dob}")
print(f"Today: {today}")
print(f"Age: {age} years")

Date of Birth: 2002-11-05
Today: 2025-09-14
Age: 23 years

## 38.	Write a program to find the difference in days between two given dates.

In [27]:
import datetime
date1=datetime.date(2025,9,14)
date2=datetime.date(2025,11,14)
difference=date2-date1

print(f"Difference: {difference.days} days")

Difference: 61 days

## 39.	Write a program to print the date 30 days from today.

In [26]:
import datetime
today=datetime.date.today()
print("Today's Date:",today)
future=today+datetime.timedelta(days=30)
print("Date after 30 days:",future)

Today's Date: 2025-09-14
Date after 30 days: 2025-10-14

## 40.	Write a program to format today’s date as “DD/MM/YYYY” and “YYYY-MM-DD”.

In [25]:
import datetime
now=datetime.datetime.now()
print("Now:", now)
today=datetime.date.today()
print("Today:",today)

Now: 2025-09-14 17:00:16.726722
Today: 2025-09-14

# 9. Math Module (5 Questions)

## 41.	Write a program to calculate factorial using math.factorial().

In [13]:
import math as mt
result=mt.factorial(5)
print(result)

120

## 42.	Write a program to find the greatest common divisor (GCD) of two numbers.

In [29]:
import math 

num1=int(input("enter first number:"))
num2=int(input("enter second number:"))

print("The greatest common divisorof two number is:",math.gcd(num1,num2))

enter first number: 76
enter second number: 81

The greatest common divisorof two number is: 1

In [45]:
import math as mt 
mt.gcd(2,4)

2

## 43.	Write a program to calculate square root, power, and logarithm using math module

In [9]:
import math
x=16
y=2
sqrt=math.sqrt(x)
power=math.pow(x,y)
log=math.log(x)

print(f"Square root of {x}= {sqrt}")
print(f"{x} raised to power {y}={power}")
print(f"Natural log t\of {x}={log}")

Square root of 16= 4.0
16 raised to power 2=256.0
Natural log t\of 16=2.772588722239781

## 44.	Write a program to generate random numbers between 1 and 100 (using math and random).

In [12]:

import random

for i in range(8):
    num=random.randint(1,100)
    print(num)

45
69
54
83
88
59
22
10

## 45.	Write a program to convert radians to degrees and vice versa.

In [13]:
import math
radians=math.pi/4
degrees=math.degrees(radians)

degree=50
radian=math.radians(degree)

print(f"{radian}  radians = {degrees} degree")
print(f"{degree} degrees = {radian} radians")

0.8726646259971648  radians = 45.0 degree
50 degrees = 0.8726646259971648 radians

# 10. Regular Expression Module (5 Questions)

## 46.	Write a regex to check if a string is a valid email address.

In [46]:
import re
text = "Contact us at support@example.com or sales@mydomain.org, 34kghig@gmail.co.in"
emails = re.findall(r'\b[\w.-]+@[\w.-]+\.\w+\b', text)
print(emails)

['support@example.com', 'sales@mydomain.org', '34kghig@gmail.co.in']

## 47.	Write a regex to extract all numbers from a string.

In [47]:
import re
n = "alll778P@ss"
match = re.findall(r'\d', n)
print(match)

['7', '7', '8']

## 48.	Write a regex to validate if a string is a valid Indian mobile number (10 digits).

In [48]:
text = "Call me at 9876543210 or 919876543210 or +916545438567."
phones = re.findall(r'\b(?:\+91|91)?[6-9]\d{9}\b', text)
print(phones)

['9876543210', '919876543210', '916545438567']

## 49.	Write a regex to find all words starting with a capital letter in a sentence.

In [49]:
text = "India is a beautiful Country with the Taj Mahal in Agra."
caps = re.findall(r'\b[A-Z][a-z]*\b', text)
print(caps)

['India', 'Country', 'Taj', 'Mahal', 'Agra']

## 50.	Write a regex to replace all spaces in a string with a hyphen.

In [50]:
text = "Python    is   great   for  data  science."
cleaned = re.sub(r'\s+', ' ', text)
print(cleaned)

Python is great for data science.