# 1. Second Largest Without Sorting

# Write a program to find the second largest number in a list without using sort() or max() more than once.

In [5]:
list=[10,20,30,40,50]
s1=list[-1]
print(s1)

50

# 2. Missing Number in Range

# Input: a list of unique numbers from 1 to n (with one missing). Find the missing number using loops only.
Example: [1, 2, 4, 5] → Output: 3

# 3. Count Consecutive Characters

# For a given string, count consecutive repeating characters and compress it.
Example: "aaabbccccd" → "a3b2c4d1"

# 4. Check Balanced String

# A string is balanced if the number of vowels equals the number of consonants.
Example: "code" → Balanced (2 vowels, 2 consonants).

# 5. List Element Difference

# Given a list, create a new list where each element is the difference between the largest element and the current element.
Example: [4, 7, 2] → [3, 0, 5]

# 6. Digit Rearrangement

# Take an integer and rearrange its digits in descending order.
Example: 42153 → 54321

In [8]:
d=(input("enter a number"))
descending_order=d[::-1]
print(descending_order)

enter a number 1234

4321

# 7. Sum of Alternate Numbers

# Given a list of integers, find the sum of elements at even indices and at odd indices separately, then print which sum is larger.

# 8. Flatten a Nested List

# Without using libraries, flatten a 2D list into a 1D list.
Example: [[1,2], [3,4], [5]] → [1,2,3,4,5]

In [26]:
s=[3,4,5],[6,7],[8]
[j for i in s for j in i]

[3, 4, 5, 6, 7, 8]

# 9. First Non-Repeating Character

# Find the first non-repeating character in a string.
Example: "swiss" → "w"

# 10. Intersection of Two Lists

# Without using set(), find common elements between two lists.

In [18]:
l1=[1,2,4,3,4,5,2,6]
l2=[6,7,6,1,9,6,10,2]
s=l1.intersection(l2)
print(s)

AttributeError: 'list' object has no attribute 'intersection'

# 11. Count Words Starting with Vowel

# Given a sentence, count how many words start with a vowel.
Example: "An elephant is under a tree" → 3

# 12. Pattern with Conditions

# Print a pyramid of numbers where each row contains only odd numbers up to n.
Example (n=5):

 1
 3 5
7 9 11

In [24]:
n = 5

# Step 1: Generate odd numbers up to n
add = []
for i in range(1, n+1):
    if i % 2 != 0:
        add.append(i)